certifi==2021.10.8
charset-normalizer==2.0.12
Deprecated==1.2.13
dramatiq==1.12.3
gevent==21.12.0
greenlet==1.1.2
idna==3.3
packaging==21.3
prometheus-client==0.13.1
pyparsing==3.0.7
redis==4.1.4
requests==2.27.1
urllib3==1.26.9
watchdog==2.1.6
watchdog-gevent==0.1.1
wrapt==1.14.0
zope.event==4.5.0
zope.interface==5.4.0
